<!DOCTYPE html>
{% import "macros/datatables.html.twig" as tables %}
{% set language = app.request is not null ? app.request.locale : 'en' %}
{% set decimal = false %}
{% set showUserColumn = true %}
{% if query.user %}
    {% set showUserColumn = false %}
{% endif %}
<html lang="{{ language }}">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>{{ 'export'|trans }}</title>
    <style type="text/css">
        {{ encore_entry_css_source('invoice')|raw }}
    </style>
</head>
<body class="invoice_print">
<div class="wrapper">
    <section class="invoice">

        <div class="row">
            <div class="col-xs-12">
                <h2 class="page-header">
                    {% if query.begin is not empty %}
                        {{ query.begin|date_short }}
                    {% else %}
                        {% set last = entries|last %}
                        {{ last.begin|date_short }}
                    {% endif %}
                    &ndash;
                    {% if query.end is not empty %}
                        {{ query.end|date_short }}
                    {% else %}
                        {% set first = entries|first %}
                        {{ first.end|date_short }}
                    {% endif %}
                </h2>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 table-responsive">
                <ul>
                    {% set timeWorked = 0 %}
                    {% for entry in entries %}
                        {% set timeWorked = timeWorked + entry.duration %}
                        <li>{{ entry.duration|duration(true) }}h {{entry.description|desc2html}} </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

    </section>
</div>
</body>
</html>
